//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$blue: #134B8A;
$font-family-sans-serif: 'Kanit', Helvetica, Arial, serif !default;
$font-family-monospace: 'Kanit', Helvetica, Arial, serif !default;